In [2]:

def majuscule(mot):
    mot = mot.strip().capitalize()
    return mot
    
majuscule(' robert   ')

'Robert'

In [3]:
liste_tous_les_noms = ['alexis ', ' mathilde', ' jean ', ' sophie ']

for nom in liste_tous_les_noms:
    print(majuscule(nom))

Alexis
Mathilde
Jean
Sophie

In [4]:

liste_resultats = []

for nom in liste_tous_les_noms:
    liste_resultats.append(majuscule(nom))

In [5]:
liste_resultats

['Alexis', 'Mathilde', 'Jean', 'Sophie']

In [7]:

import pandas as pd

DATA_PATH = './'
filename = 'abeilles.csv'

df = pd.read_csv(DATA_PATH + filename)

df = df[['source_followers', 'source_following']]
df.head(2)

   source_followers  source_following
0              6420            3885.0
1               154             723.0

In [10]:

def populaire(a,b):
    if a > b:
        return 1
    else:
        return 0
    
populaire(10,50)

0

In [12]:
# ceux qui ont plus de source_followers que de source_following

liste_populaires = []
for i, row in df.iterrows():
    resultat = populaire(row.source_followers, row.source_following)
    liste_populaires.append(resultat)

3581

In [13]:
print(liste_populaires.count(1))
print(liste_populaires.count(0))

3581
7665