# Exploration du dataset les arbres de paris

* Notebook Jupyter
* Fichier de données les 4000 arbres de Paris disponible à l'adresse: https://opendata.paris.fr/explore/dataset/les-arbres/

Nous allons

* Charger le fichier dans une dataframe pandas
* explorer le fichier 
    * histogrammes des hauteurs de arbres, des circonference
    * nombres d'especes d'arbres, ...
    * repartition par type de voie, par arrondissement, ...


Le fichier est aussi disponible en local sur "../data/les-arbres.csv"

In [2]:
# importer la librairie pandas
import pandas as pd

# Constante pour indiquer ou sont les fichiers
DATA_PATH = '../data/'

In [3]:
# Charger le fichier dans une dataframe pandas

df = pd.read_csv(DATA_PATH + 'les-arbres.csv', error_bad_lines = False, delimiter = ';')

b'Skipping line 1916: expected 17 fields, saw 18\n'

# combien de rows
df.shape

In [6]:
df.shape

(200332, 17)

# les colonnes

In [7]:
df.columns

Index(['IDBASE', 'TYPEEMPLACEMENT', 'DOMANIALITE', 'ARRONDISSEMENT',
       'COMPLEMENTADRESSE', 'NUMERO', 'LIEU / ADRESSE', 'IDEMPLACEMENT',
       'LIBELLEFRANCAIS', 'GENRE', 'ESPECE', 'VARIETEOUCULTIVAR',
       'CIRCONFERENCEENCM', 'HAUTEUR (m)', 'STADEDEVELOPPEMENT', 'REMARQUABLE',
       'geo_point_2d'],
      dtype='object')

# Changer les colonnes:
* en minuscule
* enlever les parentheses et /
* remplacer les espaces par _

In [9]:
colonnes = df.columns
colonnes

Index(['IDBASE', 'TYPEEMPLACEMENT', 'DOMANIALITE', 'ARRONDISSEMENT',
       'COMPLEMENTADRESSE', 'NUMERO', 'LIEU / ADRESSE', 'IDEMPLACEMENT',
       'LIBELLEFRANCAIS', 'GENRE', 'ESPECE', 'VARIETEOUCULTIVAR',
       'CIRCONFERENCEENCM', 'HAUTEUR (m)', 'STADEDEVELOPPEMENT', 'REMARQUABLE',
       'geo_point_2d'],
      dtype='object')

In [17]:
def colname(col):
    for char in ['/', '(', ')']:
        col = col.replace(char, '')
    col = col.replace(' ', '_')
    col = col.replace('__', '_')
    return col.lower()

# test 

assert colname("HAUTEUR (m)") == "hauteur_m", "Y'a un bug"

In [18]:
colonnes = [ colname(col) for col in df.columns  ]
colonnes

['idbase',
 'typeemplacement',
 'domanialite',
 'arrondissement',
 'complementadresse',
 'numero',
 'lieu_adresse',
 'idemplacement',
 'libellefrancais',
 'genre',
 'espece',
 'varieteoucultivar',
 'circonferenceencm',
 'hauteur_m',
 'stadedeveloppement',
 'remarquable',
 'geo_point_2d']

In [19]:
# Renommer les colonnes de df

In [20]:
df.columns = colonnes
df.columns

Index(['idbase', 'typeemplacement', 'domanialite', 'arrondissement',
       'complementadresse', 'numero', 'lieu_adresse', 'idemplacement',
       'libellefrancais', 'genre', 'espece', 'varieteoucultivar',
       'circonferenceencm', 'hauteur_m', 'stadedeveloppement', 'remarquable',
       'geo_point_2d'],
      dtype='object')

# et maintenant je peut acceder aux valeurs d'une colonne par

* df.typeemplacement

ou 

* df['typeemplacement']

In [23]:
df.typeemplacement

0         Arbre
1         Arbre
2         Arbre
3         Arbre
4         Arbre
5         Arbre
6         Arbre
7         Arbre
8         Arbre
9         Arbre
10        Arbre
11        Arbre
12        Arbre
13        Arbre
14        Arbre
15        Arbre
16        Arbre
17        Arbre
18        Arbre
19        Arbre
20        Arbre
21        Arbre
22        Arbre
23        Arbre
24        Arbre
25        Arbre
26        Arbre
27        Arbre
28        Arbre
29        Arbre
          ...
200302    Arbre
200303    Arbre
200304    Arbre
200305    Arbre
200306    Arbre
200307    Arbre
200308    Arbre
200309    Arbre
200310    Arbre
200311    Arbre
200312    Arbre
200313    Arbre
200314    Arbre
200315    Arbre
200316    Arbre
200317    Arbre
200318    Arbre
200319    Arbre
200320    Arbre
200321    Arbre
200322    Arbre
200323    Arbre
200324    Arbre
200325    Arbre
200326    Arbre
200327    Arbre
200328    Arbre
200329    Arbre
200330    Arbre
200331    Arbre
Name: typeemplacement, Length: 200332, dtype: object