# Visualisation - arbres et arrondissements

In [22]:
import pandas as pd

df = pd.read_csv('les-arbres.csv', sep=';', error_bad_lines = False)

b'Skipping line 1916: expected 17 fields, saw 18\n'

In [23]:
# limiter la hauteur a 50m
condition = df['HAUTEUR (m)'] < 50
print(df.shape)
df = df[condition]
print(df.shape)

# limiter la circonference a 500cm
condition = df['CIRCONFERENCEENCM'] < 500

df = df[condition]
print(df.shape)

(200332, 17)
(199873, 17)
(199738, 17)

In [25]:
# Ne garder que les arbres dans paris

# liste de tous les arrondissements
print(df['ARRONDISSEMENT'].unique())

# condition l'ARRONDISSEMENT doit contenir le mot PARIS
dans_paris = df['ARRONDISSEMENT'].str.contains('PARIS')

# sous la condition "dans_paris", la liste de tous les arrondissements serait
print(df[dans_paris]['ARRONDISSEMENT'].unique())

# on restreint donc aux rangées qui verifient la condition dans_paris
df = df[dans_paris]

# reset de l'index
df.reset_index(inplace = True, drop = True)

['PARIS 11E ARRDT' 'PARIS 18E ARRDT' 'PARIS 15E ARRDT' 'PARIS 14E ARRDT'
 'PARIS 16E ARRDT' 'PARIS 7E ARRDT' 'PARIS 19E ARRDT' 'PARIS 20E ARRDT'
 'PARIS 4E ARRDT' 'PARIS 12E ARRDT' 'PARIS 17E ARRDT' 'PARIS 8E ARRDT'
 'PARIS 13E ARRDT' 'PARIS 6E ARRDT' 'PARIS 10E ARRDT' 'PARIS 3E ARRDT'
 'PARIS 1ER ARRDT' 'PARIS 9E ARRDT' 'PARIS 5E ARRDT' 'PARIS 2E ARRDT']
['PARIS 11E ARRDT' 'PARIS 18E ARRDT' 'PARIS 15E ARRDT' 'PARIS 14E ARRDT'
 'PARIS 16E ARRDT' 'PARIS 7E ARRDT' 'PARIS 19E ARRDT' 'PARIS 20E ARRDT'
 'PARIS 4E ARRDT' 'PARIS 12E ARRDT' 'PARIS 17E ARRDT' 'PARIS 8E ARRDT'
 'PARIS 13E ARRDT' 'PARIS 6E ARRDT' 'PARIS 10E ARRDT' 'PARIS 3E ARRDT'
 'PARIS 1ER ARRDT' 'PARIS 9E ARRDT' 'PARIS 5E ARRDT' 'PARIS 2E ARRDT']

In [27]:
# regarder le fichiers arrondissement

!cat arrondissements.csv

"C_ARINSEE";"L_AR";"SURFACE";"PERIMETRE";"OBJECTID";"LONGUEUR"
75102;"2ème Ardt";991153.74474596;4554.10435957;2;4553.93876373
75103;"3ème Ardt";1170882.82818778;4519.26364836;3;4519.07198175
75112;"12ème Ardt";16314782.6372674;24089.6662978;12;24088.03892205
75101;"1er Ardt";1824612.86048666;6054.93686218;1;6054.68086176
75104;"4ème Ardt";1600585.63150251;5420.90843368;4;5420.63677909
75108;"8ème Ardt";3880036.39704363;7880.53326819;8;7880.26066073
75114;"14ème Ardt";5614877.30907921;10317.4833099;14;10316.72025836
75119;"19ème Ardt";6792651.12902648;11253.1824786;19;11252.94322851
75120;"20ème Ardt";5983446.03718297;10704.9404863;20;10704.48377412
75106;"6ème Ardt";2153095.58639283;6483.68678565;6;6483.32455954
75109;"9ème Ardt";2178303.27487137;6471.5882901;9;6471.38914439
75117;"17ème Ardt";5668834.50445393;10775.579516;17;10775.34891467
75115;"15ème Ardt";8494994.08101075;13678.7983149;15;13677.92366106
75105;"5ème Ardt";2539374.62284532;6239.19539614;5;6238.8234077
75107;"7ème Ardt";4090057.18546976;8099.42488348;7;8099.03315106
75110;"10ème Ardt";2891739.44162064;6739.37505466;10;6739.16835945
75111;"11ème Ardt";3665441.55248808;8282.01188584;11;8281.63528771
75113;"13ème Ardt";7149311.09107136;11546.5465264;13;11545.68698553
75116;"16ème Ardt";16372542.1289739;17416.1096565;16;17415.32672605
75118;"18ème Ardt";5996051.30811905;9916.46417634;18;9916.30382695

In [28]:
# donc il faut ouvrir avec ; comme separateur

arrdt = pd.read_csv(  'arrondissements.csv', sep = ";")

In [29]:
arrdt.head()

   C_ARINSEE        L_AR       SURFACE     PERIMETRE  OBJECTID      LONGUEUR
0      75102   2ème Ardt  9.911537e+05   4554.104360         2   4553.938764
1      75103   3ème Ardt  1.170883e+06   4519.263648         3   4519.071982
2      75112  12ème Ardt  1.631478e+07  24089.666298        12  24088.038922
3      75101    1er Ardt  1.824613e+06   6054.936862         1   6054.680862
4      75104   4ème Ardt  1.600586e+06   5420.908434         4   5420.636779

In [33]:
arrdt.dtypes

C_ARINSEE      int64
L_AR          object
SURFACE      float64
PERIMETRE    float64
OBJECTID       int64
LONGUEUR     float64
dtype: object

In [ ]:
dico = {'PARIS 11E ARRDT': '75111', 
        'PARIS 18E ARRDT': '75118', 
        'PARIS 15E ARRDT': '75115', 
        'PARIS 14E ARRDT': '75114',
        'PARIS 16E ARRDT': '75116', 
        'PARIS 7E ARRDT': '75107', 
        'PARIS 19E ARRDT': '75119', 
        'PARIS 20E ARRDT': '75120', 
        'PARIS 4E ARRDT': '75104', 
        'PARIS 12E ARRDT': '75112', 
        'PARIS 17E ARRDT': '75117', 
        'PARIS 8E ARRDT': '75108', 
        'PARIS 13E ARRDT': '75113', 
        'PARIS 6E ARRDT': '75106', 
        'PARIS 10E ARRDT': '75110', 
        'PARIS 3E ARRDT': '75103', 
        'PARIS 1ER ARRDT': '75101', 
        'PARIS 9E ARRDT': '75109', 
        'PARIS 5E ARRDT': '75105', 
        'PARIS 2E ARRDT': '75102'
       }

Transformer les valeurs de df['ARRONDISSEMENT'] ('PARIS 8E ARRDT')  en '75108'

In [34]:
df['ARRONDISSEMENT']

0         PARIS 11E ARRDT
1         PARIS 18E ARRDT
2         PARIS 15E ARRDT
3         PARIS 14E ARRDT
4         PARIS 16E ARRDT
5          PARIS 7E ARRDT
6         PARIS 19E ARRDT
7         PARIS 20E ARRDT
8          PARIS 4E ARRDT
9         PARIS 15E ARRDT
10        PARIS 19E ARRDT
11        PARIS 18E ARRDT
12        PARIS 15E ARRDT
13        PARIS 12E ARRDT
14        PARIS 12E ARRDT
15        PARIS 16E ARRDT
16        PARIS 17E ARRDT
17        PARIS 15E ARRDT
18        PARIS 16E ARRDT
19        PARIS 16E ARRDT
20        PARIS 16E ARRDT
21        PARIS 15E ARRDT
22        PARIS 11E ARRDT
23         PARIS 8E ARRDT
24        PARIS 18E ARRDT
25        PARIS 20E ARRDT
26        PARIS 12E ARRDT
27        PARIS 13E ARRDT
28        PARIS 13E ARRDT
29        PARIS 15E ARRDT
               ...
159801    PARIS 14E ARRDT
159802    PARIS 14E ARRDT
159803    PARIS 16E ARRDT
159804    PARIS 20E ARRDT
159805    PARIS 15E ARRDT
159806    PARIS 15E ARRDT
159807    PARIS 16E ARRDT
159808    PARIS 15E ARRDT
159809    PARIS 16E ARRDT
159810    PARIS 10E ARRDT
159811    PARIS 11E ARRDT
159812    PARIS 12E ARRDT
159813    PARIS 12E ARRDT
159814    PARIS 12E ARRDT
159815     PARIS 5E ARRDT
159816     PARIS 8E ARRDT
159817     PARIS 8E ARRDT
159818    PARIS 15E ARRDT
159819    PARIS 15E ARRDT
159820    PARIS 16E ARRDT
159821     PARIS 7E ARRDT
159822     PARIS 8E ARRDT
159823     PARIS 8E ARRDT
159824    PARIS 10E ARRDT
159825    PARIS 19E ARRDT
159826    PARIS 13E ARRDT
159827    PARIS 12E ARRDT
159828    PARIS 14E ARRDT
159829    PARIS 12E ARRDT
159830    PARIS 13E ARRDT
Name: ARRONDISSEMENT, Length: 159831, dtype: object