# Dictionnaires

* creation
* les clefs
* les valeurs
* ajouter une cle, valeur
* enlever une cle, valeur
* merge 2 dictionnaires

In [47]:
# creation

ma_liste = []
mon_dico = {}

type(mon_dico)

dict

In [48]:
# dictionnaire non vide

paris = {
    "nom": "Paris",
    "population": 3000000,
    "nombre_arbres": 40000,
    "fondé_en": "1000-01-01",
    'riviere': 'Seine',
    "université": "Sorbonne"
}


print(paris)

{'nom': 'Paris', 'population': 3000000, 'nombre_arbres': 40000, 'fondé_en': '1000-01-01', 'riviere': 'Seine', 'université': 'Sorbonne'}

In [49]:
print(paris['riviere'])

Seine

In [50]:
# clef qui n'existe pas

'tourisme' in  paris

False

In [51]:
# liste des keys

les_clefs = paris.keys()
les_clefs

dict_keys(['nom', 'population', 'nombre_arbres', 'fondé_en', 'riviere', 'université'])

In [52]:
'nom' in les_clefs

True

In [53]:
# rajouter une entrée dans le dictionnaire

paris['metro'] = 'chatelet'

print(paris)

{'nom': 'Paris', 'population': 3000000, 'nombre_arbres': 40000, 'fondé_en': '1000-01-01', 'riviere': 'Seine', 'université': 'Sorbonne', 'metro': 'chatelet'}

In [54]:
# valeurs du dictionnaire

paris.values()

dict_values(['Paris', 3000000, 40000, '1000-01-01', 'Seine', 'Sorbonne', 'chatelet'])

In [55]:
# changer la date
paris['fondé_en'] = '1000-08-23'

paris

{'nom': 'Paris',
 'population': 3000000,
 'nombre_arbres': 40000,
 'fondé_en': '1000-08-23',
 'riviere': 'Seine',
 'université': 'Sorbonne',
 'metro': 'chatelet'}

In [56]:
# avoir un element du dctionnaire qui est une liste

paris['rues'] = ['champs elysees', 'rivoli', 'sebastopol']

paris

{'nom': 'Paris',
 'population': 3000000,
 'nombre_arbres': 40000,
 'fondé_en': '1000-08-23',
 'riviere': 'Seine',
 'université': 'Sorbonne',
 'metro': 'chatelet',
 'rues': ['champs elysees', 'rivoli', 'sebastopol']}

In [57]:
type(paris['rues'])

list

In [58]:
# enlever des clef / valeurs

paris.pop('rues', None)
paris.pop('metro', None)
paris.pop('fondé_en', None)
paris

{'nom': 'Paris',
 'population': 3000000,
 'nombre_arbres': 40000,
 'riviere': 'Seine',
 'université': 'Sorbonne'}

In [59]:
londres = {'nom': 'London',
 'population': 5000000,
 'nombre_arbres': 20000,
 'riviere': 'Thames',
 'université': "King's college"}

In [60]:
londres

{'nom': 'London',
 'population': 5000000,
 'nombre_arbres': 20000,
 'riviere': 'Thames',
 'université': "King's college"}

In [61]:
paris

{'nom': 'Paris',
 'population': 3000000,
 'nombre_arbres': 40000,
 'riviere': 'Seine',
 'université': 'Sorbonne'}

In [62]:
villes = [londres, paris]

In [63]:
villes

[{'nom': 'London',
  'population': 5000000,
  'nombre_arbres': 20000,
  'riviere': 'Thames',
  'université': "King's college"},
 {'nom': 'Paris',
  'population': 3000000,
  'nombre_arbres': 40000,
  'riviere': 'Seine',
  'université': 'Sorbonne'}]

In [64]:
londres['place'] = 'picadilly circus'
paris['monument'] = 'tour eiffel'

paris.update(londres)
paris

{'nom': 'London',
 'population': 5000000,
 'nombre_arbres': 20000,
 'riviere': 'Thames',
 'université': "King's college",
 'monument': 'tour eiffel',
 'place': 'picadilly circus'}

In [65]:
for key, value in paris.items():
    print("{} -> {}".format(key,value))

nom -> London
population -> 5000000
nombre_arbres -> 20000
riviere -> Thames
université -> King's college
monument -> tour eiffel
place -> picadilly circus