In [11]:

# une liste de noms

equipe = ['Amelie','Jean', 'Bruno', 'John', 'Nathalie']


chiffres = [1,2,3,87, 100, 12, 54, True, 'brocoli']

In [12]:
# combien d'elements dans ma liste

len(equipe)

5

In [13]:
len(chiffres)

9

In [14]:
equipe

['Amelie', 'Jean', 'Bruno', 'John', 'Nathalie']

In [15]:
print(" Les membres de l'equipe sont {}  ".format(equipe))

 Les membres de l'equipe sont ['Amelie', 'Jean', 'Bruno', 'John', 'Nathalie']

# Boucles

In [19]:
equipe = ['Amelie','Jean', 'Bruno', 'John', 'Nathalie']

for prenom in equipe:
    print("Bonjour {}".format(prenom))

Bonjour Amelie
Bonjour Jean
Bonjour Bruno
Bonjour John
Bonjour Nathalie

In [23]:
lst = [4,1,3,5,6, 3.15, 8, -1]

for i in lst:
    print("{} au carré = {}".format(i, i**2))

4 au carré = 16
1 au carré = 1
3 au carré = 9
5 au carré = 25
6 au carré = 36
3.15 au carré = 9.9225
8 au carré = 64
-1 au carré = 1

In [24]:
lst = [1,2,3,4,5,6]

la_somme = 0
for i in lst:
    la_somme = la_somme + i

print("la somme est {}".format(la_somme))

la somme est 21

In [26]:
liste_des_villes = [ 'Nantes', 'Paris','Bordeaux', 'Lyon'  ]


for nom_de_la_ville in liste_des_villes:
    if 'a' in nom_de_la_ville:
        print(nom_de_la_ville)

Nantes
Paris
Bordeaux

In [34]:
# Afficher les noms de villes de moins de 6 lettres

# la longueur d'une chaine de charateres : len('Paris')

liste_des_villes = [ 'Nantes', 'Paris','Bordeaux', 'Lyon'  ]

for nom_de_la_ville in liste_des_villes:
    if len(nom_de_la_ville) > 5:
        print("la ville {} a {} lettres.".format(nom_de_la_ville, len(nom_de_la_ville)))
    else:
        print("la ville {} n'a que {} lettres.".format(nom_de_la_ville, len(nom_de_la_ville)))

la ville Nantes a 6 lettres.
la ville Paris n'a que 5 lettres.
la ville Bordeaux a 8 lettres.
la ville Lyon n'a que 4 lettres.