# dataset les députés actifs

Le dataset les deputes.zip contient les nom et infos des deputes actifs

Chaque député a un fichier csv qui lui est propre dans le repertoire ./acteur/ (au lieu d'avoir un unique fichier avec tous les députés)

Le but est d'aggreger tous les fichiers dans un seul fichier final


0. dezipper le fichier deputes.zip
1. Creer une dataframe vide qui sera la df principale

    ouvrir un des fichiers pour initialiser la df principale

1. Parcourir le repertoire ./acteur

2. Pour chaque fichier rencontré
    1. charger les infos dans une dataframe
    2. ajouter la nouvelle dataframe à la df principale

utiliser pour cela la fonction

        pd.concat()
  
3. sauver la dataframe finale dans un fichier csv avec la fonction
        df.to_csv(filename)

Attention:

* aux colonnes qui sont surement mal nommées
* a l'index des dataframes

In [4]:
import zipfile
with zipfile.ZipFile("deputes_actifs.zip","r") as zip_ref:
    zip_ref.extractall("./")

In [49]:
# initialiser la premiere dataframe
import pandas as pd
dfo = pd.read_csv('acteur/PA1008.csv', sep = ';')

dfo.head()

,Unnamed: 0,uid[1],uid[1]@xsi:type,etatCivil[1],etatCivil[1]/ident[1],etatCivil[1]/ident[1]/civ[1],etatCivil[1]/ident[1]/prenom[1],etatCivil[1]/ident[1]/nom[1],etatCivil[1]/ident[1]/alpha[1],etatCivil[1]/ident[1]/trigramme[1],...,mandats[1]/mandat[19]/datePublication[1],mandats[1]/mandat[19]/dateFin[1],mandats[1]/mandat[19]/preseance[1],mandats[1]/mandat[19]/nominPrincipale[1],mandats[1]/mandat[19]/infosQualite[1],mandats[1]/mandat[19]/infosQualite[1]/codeQualite[1],mandats[1]/mandat[19]/infosQualite[1]/libQualite[1],mandats[1]/mandat[19]/infosQualite[1]/libQualiteSex[1],mandats[1]/mandat[19]/organes[1],mandats[1]/mandat[19]/organes[1]/organeRef[1]
0,NaN,PA1008,IdActeur_type,NaN,NaN,M.,Alain,David,DavidA,ADA,...,2018-07-24,NaN,32,1,NaN,Membre,Membre,Membre,NaN,PO59047

In [50]:
dfo[['etatCivil[1]/ident[1]/civ[1]','etatCivil[1]/ident[1]/nom[1]','etatCivil[1]/ident[1]/prenom[1]']]

,etatCivil[1]/ident[1]/civ[1],etatCivil[1]/ident[1]/nom[1],etatCivil[1]/ident[1]/prenom[1]
0,M.,David,Alain

In [51]:
import glob
colonnes = ['etatCivil[1]/ident[1]/civ[1]','etatCivil[1]/ident[1]/prenom[1]','etatCivil[1]/ident[1]/nom[1]']

# dataframe originale dfo
dfo = pd.DataFrame(columns = colonnes)


for filename in glob.iglob('acteur/*.csv', recursive=True):
    df = pd.read_csv(filename, sep = ';', usecols = colonnes)
    dfo = pd.concat(  [dfo, df]   )

dfo.head()

,etatCivil[1]/ident[1]/civ[1],etatCivil[1]/ident[1]/prenom[1],etatCivil[1]/ident[1]/nom[1]
0,Mme,Danièle,Obono
0,Mme,Sonia,Krimi
0,M.,Thierry,Michels
0,Mme,Laurence,Trastour-Isnart
0,M.,Jean-Pierre,Door

In [52]:
dfo.reset_index(inplace = True, drop = True)
dfo.head()

,etatCivil[1]/ident[1]/civ[1],etatCivil[1]/ident[1]/prenom[1],etatCivil[1]/ident[1]/nom[1]
0,Mme,Danièle,Obono
1,Mme,Sonia,Krimi
2,M.,Thierry,Michels
3,Mme,Laurence,Trastour-Isnart
4,M.,Jean-Pierre,Door

In [45]:
dfo.loc[7]

etatCivil[1]/ident[1]/civ[1]            Mme
etatCivil[1]/ident[1]/prenom[1]    Isabelle
etatCivil[1]/ident[1]/nom[1]       Valentin
Name: 7, dtype: object

In [46]:
# renommer les colonnes 
# dfo.rename(columns = { 'etatCivil[1]/ident[1]/civ[1]': 'civ'  }, inplace = True)

dfo.columns = ['civ','prenom', 'nom']

In [47]:
dfo.head()

   civ       prenom              nom
0  Mme      Danièle            Obono
1  Mme        Sonia            Krimi
2   M.      Thierry          Michels
3  Mme     Laurence  Trastour-Isnart
4   M.  Jean-Pierre             Door

# trouver les colonnes qui sont dans tous les fichiers

In [80]:
import pandas as pd
df = pd.read_csv('acteur/PA722118.csv', sep = ';')
common_cols = df.columns

for filename in glob.iglob('acteur/*.csv', recursive=True):
    df = pd.read_csv(filename, sep = ';')

    # df.columns INTERSECTION common_cols
    common_cols = [col for col in df.columns if col in common_cols]
    
    
for filename in glob.iglob('acteur/*.csv', recursive=True):
    df = pd.read_csv(filename, sep = ';')
    nouvelles_colonnes = df.columns

    colonnes_a_garder = []
    for col in nouvelles_colonnes: 
        if  col in common_cols:
            colonnes_a_garder.append(col)
            
    common_cols = colonnes_a_garder
    
    
#     print(len(common_cols))

614

In [ ]:
common_cols

# utiliser la nombre d'occurence des colonnes

In [86]:
import pandas as pd
df = pd.read_csv('acteur/PA722118.csv', sep = ';')
common_cols = list(df.columns)

for filename in glob.iglob('acteur/*.csv', recursive=True):
    df = pd.read_csv(filename, sep = ';')
    common_cols = common_cols + list(df.columns)
    
len(common_cols)

573993

In [97]:
from collections import Counter

l = [1,2,3,4,2,3,4,2,3,4,2,2,2,23,8]
Counter(l).most_common(3)

[(2, 6), (3, 3), (4, 3)]

In [87]:
from collections import Counter

cols = Counter(common_cols)

In [92]:
cols = dict(cols)

In [100]:
max(cols.values())

577

In [101]:
common_cols = []
for k, v in cols.items():
    if v == max(cols.values()):
        common_cols.append(k)
        
len(common_cols)

89

# beaucoup de colonnes vides ?

In [108]:
# aggreger tous les fichiers avec les 89 colonnes communes

dfo = pd.DataFrame(columns = common_cols)


for filename in glob.iglob('acteur/*.csv', recursive=True):
    df = pd.read_csv(filename, sep = ';', usecols = common_cols)
    dfo = pd.concat(  [dfo, df]   )

print(dfo.shape)    
    
dfo.head()

(576, 89)

,Unnamed: 0,uid[1],uid[1]@xsi:type,etatCivil[1],etatCivil[1]/ident[1],etatCivil[1]/ident[1]/civ[1],etatCivil[1]/ident[1]/prenom[1],etatCivil[1]/ident[1]/nom[1],etatCivil[1]/ident[1]/alpha[1],etatCivil[1]/ident[1]/trigramme[1],...,mandats[1]/mandat[3]/datePublication[1],mandats[1]/mandat[3]/dateFin[1],mandats[1]/mandat[3]/preseance[1],mandats[1]/mandat[3]/nominPrincipale[1],mandats[1]/mandat[3]/infosQualite[1],mandats[1]/mandat[3]/infosQualite[1]/codeQualite[1],mandats[1]/mandat[3]/infosQualite[1]/libQualite[1],mandats[1]/mandat[3]/infosQualite[1]/libQualiteSex[1],mandats[1]/mandat[3]/organes[1],mandats[1]/mandat[3]/organes[1]/organeRef[1]
0,NaN,PA721960,IdActeur_type,NaN,NaN,Mme,Danièle,Obono,Obono,DOB,...,2017-07-06,NaN,16,1,NaN,Secrétaire,Secrétaire,Secrétaire,NaN,PO415287
0,NaN,PA720202,IdActeur_type,NaN,NaN,Mme,Sonia,Krimi,Krimi,SKR,...,NaN,NaN,50,1,NaN,membre,membre,membre,NaN,PO717460
0,NaN,PA720738,IdActeur_type,NaN,NaN,M.,Thierry,Michels,Michels,TMI,...,2017-06-28,NaN,20,1,NaN,Membre,Membre du,Membre du,NaN,PO730964
0,NaN,PA718780,IdActeur_type,NaN,NaN,Mme,Laurence,Trastour-Isnart,TrastourIsnart,LTR,...,2017-07-12,NaN,20,1,NaN,Membre,Membre,Membre,NaN,PO201269
0,NaN,PA267289,IdActeur_type,NaN,NaN,M.,Jean-Pierre,Door,Door,JDO,...,2011-09-13,2012-06-19,30,1,NaN,Suppléant,Membre suppléant,Membre suppléant,NaN,PO275380

In [112]:
colonnes_non_vides = []
nbre_elt_nan = []

for col in dfo.columns:
    condition = dfo[col].isnull()
    nombre_de_rangees_nulles = dfo[condition].shape[0]
    nbre_elt_nan.append(nombre_de_rangees_nulles)
    if nombre_de_rangees_nulles < 576:
        colonnes_non_vides.append(col)
        
        
#     print("col: {} a {} elements NaN".format(col, nombre_de_colonnes_nulles)  )
len(colonnes_non_vides)
Counter(nbre_elt_nan)

Counter({576: 21,
         0: 52,
         3: 1,
         39: 1,
         1: 1,
         6: 1,
         29: 1,
         453: 1,
         534: 1,
         4: 1,
         448: 1,
         373: 1,
         5: 2,
         385: 1,
         360: 1,
         350: 1,
         346: 1})

### finalement ne garder que les colonnes qui ont au moins 100 valeurs


puis exporter dans une fichier csv avec 

        pd.to_csv(<nom de fichier>)