In [11]:

# une liste de noms

equipe = ['Amelie','Jean', 'Bruno', 'John', 'Nathalie']


chiffres = [1,2,3,87, 100, 12, 54, True, 'brocoli']

In [12]:
# combien d'elements dans ma liste

len(equipe)

5

In [13]:
len(chiffres)

9

In [14]:
equipe

['Amelie', 'Jean', 'Bruno', 'John', 'Nathalie']

In [15]:
print(" Les membres de l'equipe sont {}  ".format(equipe))

 Les membres de l'equipe sont ['Amelie', 'Jean', 'Bruno', 'John', 'Nathalie']

# Boucles

In [19]:
equipe = ['Amelie','Jean', 'Bruno', 'John', 'Nathalie']

for prenom in equipe:
    print("Bonjour {}".format(prenom))

Bonjour Amelie
Bonjour Jean
Bonjour Bruno
Bonjour John
Bonjour Nathalie

In [23]:
lst = [4,1,3,5,6, 3.15, 8, -1]

for i in lst:
    print("{} au carré = {}".format(i, i**2))

4 au carré = 16
1 au carré = 1
3 au carré = 9
5 au carré = 25
6 au carré = 36
3.15 au carré = 9.9225
8 au carré = 64
-1 au carré = 1

In [24]:
lst = [1,2,3,4,5,6]

la_somme = 0
for i in lst:
    la_somme = la_somme + i

print("la somme est {}".format(la_somme))

la somme est 21

In [26]:
liste_des_villes = [ 'Nantes', 'Paris','Bordeaux', 'Lyon'  ]


for nom_de_la_ville in liste_des_villes:
    if 'a' in nom_de_la_ville:
        print(nom_de_la_ville)

Nantes
Paris
Bordeaux

In [35]:
# Afficher les noms de villes de moins de 6 lettres

# la longueur d'une chaine de charateres : len('Paris')

liste_des_villes = [ 'Nantes', 'Paris','Bordeaux', 'Lyon'  ]

for nom_de_la_ville in liste_des_villes:
    
    if len(nom_de_la_ville) > 5:
        print("la ville {} a {} lettres.".format(nom_de_la_ville, len(nom_de_la_ville)))
    elif len(nom_de_la_ville) == 4:
    else:
        if len(nom_de_la_ville) == 4:
            print("4 lettres")    
        else : 
            print("la ville {} n'a que {} lettres.".format(nom_de_la_ville, len(nom_de_la_ville)))

la ville Nantes a 6 lettres.
la ville Paris n'a que 5 lettres.
la ville Bordeaux a 8 lettres.
4 lettres


if (condition A):
    ....

elif (condition B):
    ....
    
elif (condition C):
    ....
    
else:

In [36]:
equipe = ['Amelie','Jean', 'Bruno', 'John', 'Nathalie']

print("premier element: {}".format(equipe[0]))

premier element Amelie

In [37]:
print(equipe[1:3])

['Jean', 'Bruno']

In [38]:
print(equipe[:3])

['Amelie', 'Jean', 'Bruno']

In [39]:
print(equipe[:])

['Amelie', 'Jean', 'Bruno', 'John', 'Nathalie']

In [41]:
print(equipe[2:])

['Bruno', 'John', 'Nathalie']

In [43]:
print(equipe[-1])

Nathalie

In [44]:
print(equipe[-2:])

['John', 'Nathalie']

In [45]:
sorted(equipe)

['Amelie', 'Bruno', 'Jean', 'John', 'Nathalie']

In [47]:
?equipe.append

In [48]:
equipe.append('zorro')

In [49]:
equipe

['Amelie', 'Jean', 'Bruno', 'John', 'Nathalie', 'zorro']

In [50]:
a = [1,2,3,4,5]
a.append(-10)
a

[1, 2, 3, 4, 5, -10]

In [51]:
a.append('bob')
a

[1, 2, 3, 4, 5, -10, 'bob']

# Construire une liste de façon itérative avec append()

In [58]:
# Mettre en minuscule .lower() les prenom dans une nouvelle liste

equipe = ['Amelie','Jean', 'Bruno', 'John', 'Nathalie']

nouvelle_liste = []

for nom in equipe:
    nom_minuscule = nom.upper()
    nouvelle_liste.append(nom_minuscule)
    
    
    print("J'ai ajouté le nom '{}' en majuscule a la liste {}".format(nom_minuscule, nouvelle_liste))

J'ai ajouté le nom 'AMELIE' en majuscule a la liste ['AMELIE']
J'ai ajouté le nom 'JEAN' en majuscule a la liste ['AMELIE', 'JEAN']
J'ai ajouté le nom 'BRUNO' en majuscule a la liste ['AMELIE', 'JEAN', 'BRUNO']
J'ai ajouté le nom 'JOHN' en majuscule a la liste ['AMELIE', 'JEAN', 'BRUNO', 'JOHN']
J'ai ajouté le nom 'NATHALIE' en majuscule a la liste ['AMELIE', 'JEAN', 'BRUNO', 'JOHN', 'NATHALIE']

In [63]:
equipe.insert(1,'Manu')

TypeError: insert() takes exactly 2 arguments (1 given)

In [62]:
equipe

['Amelie', 'manu', 'Jean', 'Bruno', 'John', 'Nathalie']

In [64]:
equipe.insert(1,'Manu')
equipe

['Amelie', 'Manu', 'manu', 'Jean', 'Bruno', 'John', 'Nathalie']

In [65]:
equipe.clear()

In [66]:
equipe

[]

In [74]:
equipe = ['Amelie', 'manu', 'Jean', 'Bruno', 'John', 'Nathalie']
equipe.clear()

if len(equipe) == 0:
    print("la liste est vide")

la liste est vide

In [76]:
if equipe == []:
    print("la liste est vide")

la liste est vide

In [77]:
if not equipe:
    print("vide")

vide

# Immutable vs mutable type

In [80]:
a = [1,2]

b = a
b

[1, 2]

In [81]:
a[0] = 5
b

[5, 2]

In [82]:
a = [1,2]

b = a.copy()
b

[1, 2]

In [83]:
a[0] = 5
b

[1, 2]

# ajouter 2 listes

In [84]:
a = [1,2,3]
b = [1, 4,5,6]
c = a + b

print(c)

[1, 2, 3, 1, 4, 5, 6]

In [86]:
premier = 'il fait beau'
deuxieme = 'et chaud'

total = premier + deuxieme
print(total)

il fait beauet chaud

In [87]:
total = premier + ' ' + deuxieme
print(total)

il fait beau et chaud

# Join pour concatener des listes

In [88]:
premier = 'il fait beau'
deuxieme = 'et chaud'

total = ' '.join( [premier, deuxieme]   )
print(total)

il fait beau et chaud

In [91]:
equipe = ['Amelie','Jean', 'Bruno', 'John', 'Nathalie']

print(" Les membres de l'equipe sont: {}    ".format( ", ".join(equipe)     ))

 Les membres de l'equipe sont: Amelie, Jean, Bruno, John, Nathalie

In [92]:
texte = "Mesdames, messieurs. Voie C. Attention au passage d'un train, éloignez vous de la bordure du quai s'il vous plaît."

# Extraire les mots d'un texte avec split

In [112]:
texte

"Mesdames, messieurs. Voie C. Attention au passage d'un train, éloignez vous de la bordure du quai s'il vous plaît."

In [113]:
mots = texte.split(' ')

In [114]:
mots

['Mesdames,',
 'messieurs.',
 'Voie',
 'C.',
 'Attention',
 'au',
 'passage',
 "d'un",
 'train,',
 'éloignez',
 'vous',
 'de',
 'la',
 'bordure',
 'du',
 'quai',
 "s'il",
 'vous',
 'plaît.']

# Module string et ponctutaion

In [120]:
texte = "Mesdames, messieurs. Voie C. Attention au passage d'un train, éloignez vous de la bordure du quai s'il vous plaît."

signes = ",.;:'-"

texte_sans_ponctuation = []

for mot in texte.split(' '):
    for ponctuation in signes:
        if ponctuation in mot:
            mot =  mot.replace(ponctuation, '')   

    texte_sans_ponctuation.append(mot)

In [118]:
texte_sans_ponctuation

['Mesdames',
 'messieurs',
 'Voie',
 'C',
 'Attention',
 'au',
 'passage',
 'dun',
 'train',
 'éloignez',
 'vous',
 'de',
 'la',
 'bordure',
 'du',
 'quai',
 'sil',
 'vous',
 'plaît']

In [119]:
' '.join(texte_sans_ponctuation)

'Mesdames messieurs Voie C Attention au passage dun train éloignez vous de la bordure du quai sil vous plaît'

In [122]:
import string

string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [123]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [124]:
string.digits

'0123456789'

In [126]:
?string.capwords()

In [127]:
texte = "madame monsieur bonjour"
string.capwords(texte)

'Madame Monsieur Bonjour'

In [128]:
?string.capwords